name: Build

on:
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: macOS-11

    steps:
    - uses: actions/checkout@v2.4.0
    - name: Build and Test
      run: cd Dinnr; xcodebuild test -scheme Dinnr -destination='platform=iOS Simulator,OS=15.0,name=iPhone 13'
